<!-- Button trigger modal -->
<div class="login" data-toggle="modal" data-target="#loginModal">
  <span>
    <img src="../../../assets/images/man.png" width="24" height="24" alt="login">
    {{'Modal.Login.Btn' | translate}}
  </span>
</div>
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <h2>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title color" id="exampleModalLabel">{{'Modal.Login.Title' | translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h2>
            {{'Modal.Login.Btn' | translate}} :
          </h2>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text celLength">{{'Modal.Login.Login' | translate}} :</span>
            </div>
            <input type="text" class="form-control" id="login" placeholder="{{'Modal.Login.Login' | translate}}">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text celLength">{{'Modal.Login.Password' | translate}} :</span>
            </div>
            <input type="password" class="form-control" id="password"
                   placeholder="{{'Modal.Login.Password' | translate}}">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal" routerLink="/registration">
            {{'Modal.Login.Register' | translate}}
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'Modal.Close' | translate}}</button>
          <button type="button" class="btn btn-light btn-outline-dark" (click)='eventExecute()' data-dismiss="modal">
            {{'Modal.Login.Btn' | translate}}
          </button>
        </div>
      </div>
    </div>
  </h2>
</div>
